<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	
	<head th:replace="~{base :: head}"></head>
	
	<body>
		<div th:replace="~{base :: logo}"></div>

		<div class="container">
			
			<div th:replace="~{base :: titulo('Login')}"></div>

			<nav class="navbar mb-3">
				
                <form action="@{/login}" method="post" class="card-body">
                    <div class="mb-3">
                        <label for="username">Login</label>
                        <input type="text" id="username" name="username" class="form-control" required/>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" id="password" name="password" class="form-control" required/>
                    </div>
                    <button class="btn btn-primary" type="submit">Log in</button>
                </form>                

			</nav>
		</div>
	</body>
    

</html>